// Config vars
// Kaldi logo brand color: #FD461E
$kaldi-red: #D64000;
$kaldi-red-invert: #fff;

$primary: $kaldi-red;
$primary-invert: $kaldi-red-invert;
$background: $kaldi-red-invert;
$body-color: #333;
